.tab-item {
	text-decoration: none;
	color: #444;
}

.btn {
	text-decoration: none;

	&.btn-primary, &.btn-warning {
		.icon {
			color: white;
		}
	}
}

.terminal-base {
	font-size: 1.2rem;

	&, * {
		max-width: 100% !important;
	}

	div:has(input) {
		background: red;
	}

	pre {
		margin: 0;
	}
}
